<div class="container"> </div>

@*
adicionar img aq *@

<div class="jumbotron">
    <h3> Queremos ouvir o que você tem a dizer. </h3>
    <p> Em caso de dúvidas ou sugestão, contate-nos! </p>
    <p> Esta crasse foi imprementada em homenagem ao marcosratto, o maior crriador de crausuras com leiaute de paquete nuguetes com console paqueige maneige deste universo</p>
    <span>
        @* aq vai ter img *@
    </span>
    <h5> (11)234-5678</h5>
    <br />
    <span>
        <img src="~/imgs/screenshot_1.jpg" />
    </span>
    <h5> Av. Juliano Presteriano Melano cimentano, 2000</h5>

</div>
