<style>
    .centered {
        width: 40%;
        margin: 0 auto;
        padding: 2px;
        text-align: center;
    }
</style>




<div class="text-align:centered container">

    <div class="jumbotron text-center">
        <br />
        <p>
            <img src="~/imgs/negado.png" width="100" height="100" />
            <h2> Acesso não autorizado.</h2>
        </p>
    </div>
    <a asp area asp-controller="Home" asp-action="Index"> Volta à página inicial</a>
</div>
