@model LoginViewModel
<style>
    form-control {
        text-align: center;
        justify-content: center;
        border: 1px solid #000000 !important;
    }

</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-header text-center">
                    <h4>Login</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-center">
                            <img src="~/imgs/google_account_icon.svg" class="img-fluid rounded" width="150" height="150" />
                        </div>
                        <div class="col-md-6">
                            <form asp-controller="Account" asp-action="Login" method="post">
                                <div asp-validation-summary="All" class="text-danger mb-3"></div>
                                <div class="form-group">
                                    <label asp-for="username" class="form-label">Nome de Usuário</label>
                                    <input asp-for="username" class="form-control" placeholder="Digite seu nome de usuário" />
                                    <span asp-validation-for="username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="password" class="form-label">Senha</label>
                                    <input asp-for="password" type="password" class="form-control" placeholder="Digite sua senha" />
                                    <span asp-validation-for="password" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-4">
                                    <button type="submit" class="btn btn-success" value="Log in"> Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




