<title>
    @ViewData["Title"] - Grafico de Vendas
</title>

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">

        <div id="chart_div" style="width: 900px; height: 500px;"></div>

        google.charts.load('current', { packages: ['corechart', 'bar'] });
        google.load("visualization", "1", { packages: ["corechart"], callback: CarregaDados });
        google.charts.setOnLoadCallback(CarregaDados);
        function CarregaDados() {
            $.ajax({
                url: '@Url.Action("VendasLanches", "AdminGraficos")',
                data: { dias: 365 },
                dataType: "json",
                type: "GET",
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    toastr.error(err.message);
                },
                success: function (data) {
                    GraficoVendasLanches(data);
                    GraficoVendasLanches(data);
                    return false;
                }
            });
            return false;
        }

        function GraficoVendasLanches(data) {
            var dataArray = [
                ['Lanche', 'Quantidade', 'Valores(R$)']
            ];
            $.each(data, function (i, item) {
                dataArray.push([item.lancheNome, item.lanchesQuantidade, item.lanchesValorTotal]);
            });
            var data = google.visualization.arrayToDataTable(dataArray);
            var options = {
                title: 'Lanches - Vendas nos últimos 360 dias',
                chartArea: {
                    width: '70%'
                },
                colors: ['#5202b5', '#d2a828'],
                hAxis: {
                    title: 'Valor Total (em Reais)',
                    minValue: 0
                },
                vAxis: {
                    title: 'Lanches'
                }
            };
            var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
            chart.draw(data, options);
            return false;
        }
    </script>
</head>

<html>
<head>
    <!--Load the AJAX API-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(CarregaDados);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
                ['Mushrooms', 3],
                ['Onions', 1],
                ['Olives', 1],
                ['Zucchini', 1],
                ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {
                'title': 'How Much Pizza I Ate Last Night',
                'width': 400,
                'height': 300
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>
</html>