<style>
    .centered{
    width: 40%;
    margin: 0 auto;
    padding:2px;
    text-align:center;    
    }
</style>

<div class="text-align:centered container">
    
    <div class="jumbotron text-center">
        <br/>
        <p>
            <img src="~/imgs/homem-de-terno-e-gravata.png" width="100" height="100" />
            <h2> Esta é a área de Administração</h2>           
        </p>
    </div>
    <a class="btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Index"> Volta à página inicial</a>
   @*  <a class="nav-link" asp-area="" asp-controller="AdminRelatorioVendas" asp-action="Index">Relatório de Vendas</a> *@
</div>
